{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Edit comment for: {{ task.title }}</h2>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.body.id_for_body }}">Body</label>
            {{ form.body }}

            <br><a href="{% url 'view_task' task.list_id task.id %}"class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    {% endif %}
{% endblock %}