{% extends 'base.html' %}
{% load abc %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        {{ form.name.value }}
                        <span style="float: right">

                    <a href="{% url 'new_task' List.id %}" class="btn btn-sm btn-success">Add Task</a>
                          |
                    <a href="{% url 'delete' List.id %}" class="btn btn-sm btn-danger">Delete List</a>
                    <a href="{% url 'edit' List.id %}" class="btn btn-sm btn-success">Edit List</a>
                </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">Due Date:</li>
                                <li class="list-group-item list-group-item-warning">Priority</li>
                                <li class="list-group-item list-group-item">Assigned To:</li>
                                <li class="list-group-item list-group-item">Created By</li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="list-group">
                                <li class="list-group-item list-group-item-success">{{ form.due_date.value }}</li>
                                <li class="list-group-item list-group-item-warning">{{ abc|element:List.priority }}</li>
                                <li class="list-group-item list-group-item">{{ List.assigned_to }}</li>
                                <li class="list-group-item list-group-item">{{ List.created_by }}</li>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tasks:</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Complete<span class="badge" style="float: right">{{ num_complete }}</span> </h3>
                                    </div>
                                    <div class="panel-body">
                                        {% for task in tasks %}
                                            {% if task.completed == True %}
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <p style="color: dodgerblue"> {{ task.title }}<span style="float: right" class="badge">Completed: {{ task.completed_date }}</span></p>
                                                        {% if task.note %}
                                                            <p><small style="color: grey">{{ task.note }}</small></p>
                                                        {% endif %}
                                                        <span style="float: right">
                                                            <a href="{% url 'view_task' List.id task.id %}"><button type="button" class="btn btn-info btn-sm btn-flat">View Comments</button></a>
                                                            <a href="{% url 'mark_task_incomplete' task.id %}"><button type="button" class="btn btn-warning btn-sm btn-flat">Mark Incomplete</button></a>

                                                        </span>

                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Incomplete<span class="badge" style="float: right">{{ num_incomplete }}</span> </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body">
                                            {% for task in tasks %}
                                                {% if task.completed == False %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <p style="color: dodgerblue"> {{ task.title }} <span class="badge">Priority: {{ abc|element:task.priority }}</span><span style="float: right" class="badge">Due: {{ task.due_date }}</span></p>
                                                            {% if task.note %}
                                                                <p><small style="color: grey">{{ task.note }}</small></p>
                                                            {% endif %}
                                                            <span style="float: right">
                                                            <a href="{% url 'view_task' List.id task.id %}"><button type="button" class="btn btn-info btn-sm btn-flat">View Comments</button></a>
                                                            <a href="{% url 'mark_task_complete' task.id %}"><button type="button" class="btn btn-primary btn-sm btn-flat">Mark Complete</button></a>
                                                            <a href="{% url 'delete_task' task.id %}"><button type="button" class="btn btn-danger btn-sm btn-flat">Delete Task</button></a>
                                                            <a href= "{% url 'edit_task' task.id List.id %}"><button type="button" class="btn btn-success btn-sm btn-flat">Edit Task</button></a>

                                                        </span>

                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}